* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}
body {
    background-color: #141517;
}
.grid-container {
    // border-bottom: 2px solid #d3c3ff;
    .curretMusic {
        margin: 0;
        padding: 0;
        img {
            height: max-content;
            width: 500px;
            height: 200px;
            object-fit: cover;
        }
    }
}
.grid-container2 {
    height: 64vh;
    .music-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .playing {
            background-color: rgba(245, 245, 245, 0.205);
        }
        li {
            padding: 1rem;
            cursor: pointer;
            &:hover {
                background-color: rgba(245, 245, 245, 0.205);
                transition: 0.5s;
            }
        }
    }
}
.footer-progress {
    background-color: rgb(0, 0, 0);
    height: 130px;

    .time-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .sound-bar {
            margin-top: 1rem;
        }
        .duration-bar {
            margin-top: 0.5rem;
            .time-range {
                width: 300px;
            }
        }
        #controls {
            display: flex;
            justify-content: space-evenly;
            #shuffle,
            #loop {
                cursor: pointer;
                font-size: 20px;
            }

            #prev,
            #next {
                font-size: 25px;
            }
            
            i {
                font-size: 30px;
                color: white;
                cursor: pointer;
                padding: 1rem;
                &:hover {
                    color: #d3c3ff;
                    transition: 0.2s;
                }
            }
        }
    }
}
